
:root{
  --brand-clr:#28abe3;
  --nav-footer-clr:var(--brand-clr);
  --body-clr:#f4f7fc;
}

body{
  background-color: var(--body-clr);
}

.container{
  padding:.5em;
  background:orange;
}

.navbar{
  background-color: var(--nav-footer-clr);
  padding:0 30px;
  height:40px;
}

.logo{
  height:50px;
  /* width:100%; */
}